.menu {
    display: flex;
    flex-direction: row;

    background: url("/imagem/ddm.png");

    justify-content: center;
    align-items: center;

    /* background: rgb(252,70,107); */
    /* background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%); */
    border-bottom: solid;
    border-color: black;
    
    width: 100vw;
    height: 10vh;
}

#titulo{
    font-size: clamp(2rem, 2.5vw, 3.5rem);
    font-family: 'Lobster', cursive;
    color: rgb(0, 0, 0);
}

button{
    background-color:transparent;
    border:none;
    cursor:pointer;
}

#userIcon{
    position:absolute;
    top:0.4vh;
    right:1vh;
    height: 9vh;
}

.menuList{
    list-style: none;
    display: flex;
    padding:0;
    margin:0;
    justify-content: space-between;
    position:fixed;
    inset: 0 81vw 55vh 0;
    background: rgb(0, 0, 0);
    flex-direction: column;
    padding:1vw;
    padding-top: 10vh;
    row-gap:5vh;
    z-index: 1000;
    transform: translateX(-101%);
    transition: transform 0.2s ease-out;
}

.menuList[data-visible="true"]{
    transform: translateX(0%);
}

span{
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    font-size: 2.5vh;
    color: rgb(169, 241, 241);
}

a{
    text-decoration: none;
}

.item{
    border-bottom: solid 1px white;
}

.menuToggle{
    position: absolute;
    left:1vw;
    z-index: 9999;
    min-height: 6vh;
    aspect-ratio: 1 / 1;
    background-color: rgb(255, 230, 0);
    background: url("/imagem/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.menuToggle[aria-expanded="true"]{
    background: url("/imagem/X.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.userList{
    list-style: none;
    display: flex;
    padding:0;
    margin:0;
    justify-content: space-between;
    position:fixed;
    inset: 0 0 50vh 80vw;
    background: rgb(0, 0, 0);
    flex-direction: column;
    padding:1vw;
    padding-top: 10vh;
    row-gap:5vh;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
}

.userList[data-visible="true"]{
    transform: translateX(0);
}

.userToggle{
    position: absolute;
    right:1vw;
    z-index: 9999;
    min-height: 9vh;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    background: url("/imagem/user.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.userToggle[data-visible="true"]{
    background: url("/imagem/userOpen.png");
    background-repeat: no-repeat;
    background-size: contain;
}

 .teste:hover{
    text-shadow: rgb(204, 0, 255) -3px 0,
                 rgb(136, 0, 255) 3px 0;
 }

 .titulo:hover{
    text-shadow: red -3px 0,
                 cyan 3px 0;
 }
