.menu {
    display: flex;
    flex-direction: row;

    /* background: url("/imagem/ddm.png"); */

    justify-content: center;
    align-items: center;

    /* background: rgb(252,70,107); */
    background-color: black;
    background: radial-gradient(circle, #c50000, rgb(0, 17, 255));
    border-bottom: solid;
    border-color: azure;
    
    min-width: 100dvw;
    min-height: 10dvh;
}

#titulo{
    font-size: clamp(1.5rem, 4dvw, 4.5rem);
    font-family: 'Courgette', cursive;
    color: azure;
}

button{
    background-color:transparent;
    border:none;
    cursor:pointer;
}

#userIcon{
    position:absolute;
    top:0.4dvh;
    right:1dvh;
    height: 9dvh;
}


.menuList[data-visible="true"]{
    transform: translateX(0%);
}

span{
    font-size: clamp(2rem, 2.5dvw, 3.5rem);
    font-family: 'Courgette', cursive;
    color: rgb(188, 254, 254);
}

a{
    text-decoration: none;
}

.item{
    border-bottom: solid 1px rgb(188, 254, 254);
}

.menuToggle{
    position: absolute;
    left:1vw;
    z-index: 9999;
    height: 6dvh;
    aspect-ratio: 1 / 1;
    background: url("/imagem/Nutilizando/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.menuToggle[aria-expanded="true"]{
    background: url("/imagem/Nutilizando/X.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.menuList{
    list-style: none;
    display: flex;
    padding:0;
    margin:0;
    justify-content: space-between;
    position:absolute;
    top:0;
    width:20dvw;
    height:40dvh;
    background: rgb(0, 0, 0);
    flex-direction: column;
    padding:1dvw;
    padding-top: 10dvh;
    row-gap:5dvh;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.7s ease-in-out;
}

.userToggle{
    position: absolute;
    right:1dvw;
    z-index: 9999;
    min-height: 9dvh;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    background: url("/imagem/Nutilizando/user.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.userToggle[aria-expanded="true"]{
    background: url("/imagem/Nutilizando/userOpen.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.userList{
    list-style: none;
    display: flex;
    padding:0;
    margin:0;
    justify-content: space-between;
    position:absolute;
    top:0;
    right:0;
    width:20dvw;
    height:40dvh;
    background: rgb(0, 0, 0);
    flex-direction: column;
    padding:1dvw;
    padding-top: 10dvh;
    row-gap:5dvh;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.7s ease-in-out;
}

.userList[data-visible="true"]{
    transform: translateX(0);
}


 .teste:hover{
    text-shadow: red -3px -3px,
                 cyan 3px 3px;
 }

 .titulo:hover{
    text-shadow: red -3px -3px,
                 cyan 3px 3px;
 }



