* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
    user-select: none;
}

body::-webkit-scrollbar{
    display: none;
}

.container {
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    /* background: url("/imagem/ddm.png"); */
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right top, #c50000, rgb(0, 17, 255));
}

.page{
    width: 100dvw;
    height: 90dvh;

    animation:carregar 1s;
}

@keyframes carregar {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}