body {
    background: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

.container {
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    /* background: url("/imagem/ddm.png"); */
    background-color: black;
    background: radial-gradient(circle, rgb(255, 255, 255) -1500%, rgb(0, 0, 0) 100%);
    display: flex;
    width: 100vw;
    height:100vh;
    

    flex-direction: column;
    justify-content: start;
    align-items: center;

    animation:carregar 1s;
}

.page{
    width: 100vw;
    height: 100vh;

    animation:carregar 1s;
}

@keyframes carregar {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}